rules_version = "2";

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isLoggedIn() {
      return request.auth != null;
    }

    function isLoggedInAndOwner() {
      return isLoggedIn() && request.auth.uid == resource.data.authorID;
    }

    function isLoggedInAndAdmin() {
      return isLoggedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles.admin == true;
    }

    function contentIsValid() {
      return request.resource.data.keys().hasAll(["title", "description"]);
    }

    function personalInfoIsValid() {
      return request.resource.data.keys().hasAll(["address", "birthDate", "email", "emergencyContactNumber", "emergencyContactRelation", "firstName", "gender", "lastName", "phoneNumber"]);
    }

    function schoolInfoIsValid() {
      return personalInfoIsValid() && 
      request.resource.data.keys().hasAll(["programName", "schoolName", "startDate"]);
    }

    function homestayInfoIsValid() {
      return personalInfoIsValid() && 
      request.resource.data.keys().hasAll(["homestayStartDate", "homestayEndDate"]);
    }

    function airportRideInfoIsValid() {
      return personalInfoIsValid() &&
      request.resource.data.keys().hasAll(["arrivalFlightDate", "arrivalFlightName", "arrivalFlightTime", "departureFlightDate", "departureFlightName", "departureFlightTime"]);
    }
 
    match /aggregates/{aggregate} {
      allow read;
    }

    match /graphics/{graphic} {
      allow read;
      allow update: if isLoggedInAndAdmin();
    } 

    match /schools/{school} {
      allow read;
      allow write: if isLoggedInAndAdmin();
    }

    match /announcements/{announcement} {
      allow read;
      allow write: if isLoggedInAndAdmin() && contentIsValid();
    }

    match /tips/{tip} {
      allow read;
      allow write: if isLoggedInAndAdmin() && contentIsValid();
    }

    match /users/{user} {
      allow read, create;
      allow update: if isLoggedIn() && request.auth.uid == user;
      allow delete: if isLoggedInAndAdmin();
    }

    match /articles/{article} {
      allow read;
      allow create: if isLoggedIn() && contentIsValid();
      allow update, delete: if isLoggedInAndAdmin() && contentIsValid() || isLoggedInAndOwner() && contentIsValid();
    }

    match /messages/{message} {
      allow read;
      allow create: if isLoggedIn() && contentIsValid();
      allow update, delete: if isLoggedInAndAdmin() && contentIsValid() || isLoggedInAndOwner() && contentIsValid();
    }

    match /airportRideApplications/{airportApplication} {
      allow read, delete: if isLoggedInAndAdmin() || isLoggedInAndOwner();
      allow create: if isLoggedIn() && airportRideInfoIsValid();
      allow update: if isLoggedInAndAdmin() && airportRideInfoIsValid();
    }    

    match /homestayApplications/{homestayApplication} {
      allow read, delete: if isLoggedInAndAdmin() || isLoggedInAndOwner();
      allow create: if isLoggedIn() && homestayInfoIsValid();
      allow update: if isLoggedInAndAdmin() && homestayInfoIsValid();
    }    

    match /schoolApplications/{schoolApplication} {
      allow read, delete: if isLoggedInAndAdmin() || isLoggedInAndOwner();
      allow create: if isLoggedIn() && schoolInfoIsValid();
      allow update: if isLoggedInAndAdmin() && schoolInfoIsValid();
    }
  }
}