rules_version = "2";

service firebase.storage {
  match /b/{bucket}/o {

    function isLoggedIn() {
      return request.auth != null;
    }
    
    function isOwner() {
      return request.auth.uid == resource.metadata.owner;
    }

    function isAdmin() {
      return request.auth.id == process.env.ADMIN_UID;
    }

    allow create: if isLoggedIn();

    match /applications/{restOfPath=**} {
      // airportRides/{airportRide}, homestays/{homestay}, schools/{school}
      allow read: if isLoggedIn() && isOwner() || isLoggedIn() && isAdmin();
    }

    match /attachments/{attachment} {
      allow read: if isLoggedIn() && isOwner() || isLoggedIn() && isAdmin();
    }

    match /images/{image} {
      allow read;
    }
  }
}