rules_version = "2";

service firebase.storage {
  match /b/{bucket}/o {

    function isLoggedIn() {
      return request.auth != null;
    }
    
    function isOwner() {
      return request.auth.uid == resource.metadata.owner;
    }

    function isAdmin() {
      let adminUsers = ["VpD5DtI9E3bPuHcOVTCdcT6hop93"];
      return request.auth.uid in adminUsers;
    }

    match /{allBuckets=**} {
      allow write: if isLoggedIn();
    }

    match /applications/{allApplications=**} {
      allow read: if isLoggedIn() && isOwner() || isLoggedIn() && isAdmin();
    }

    match /attachments/{attachment} {
      allow read: if isLoggedIn() && isOwner() || isLoggedIn() && isAdmin();
    }

    match /images/{image} {
      allow read;
    }
  }
}